# Database
DATABASE_URL=mongodb+srv://user:password@cluster0.mongodb.net/database?retryWrites=true&w=majority
DATABASE_local=true

# OAuth setting(provider setting)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

NEXTAUTH_URL=http://localhost:3000

#secret for NextAuth encryption
NEXTAUTH_SECRET=your-random-secret
